

/* Badges spécifiques */
.badge {
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

/* Badges Hard Skills - Bleu */
.badge-hard {
  background-color: #0073aa;
  color: white;
}
.badge-hard:hover {
  background-color: #005f88;
}

/* Badges Soft Skills - Orange */
.badge-soft {
  background-color: #f39c12;
  color: white;
}
.badge-soft:hover {
  background-color: #d68910;
}
